/* // @import '../../node_modules/bootstrap/scss/bootstrap.scss'; */
/* // @import '../../node_modules/bootstrap/scss/functions'; */
/* // @import '../../node_modules/admin-lte/build/scss/adminlte.scss'; */
/* // @import '../../node_modules/admin-lte/dist/css/adminlte.css'; */


.hidden {
  display: none;
}

.dropdown-dark{
  font-weight: bold;
  background-color: bisque;
}
.dropdown-dark:hover{
  background-color: #fd7e14;
  border-color: #aa4e01;
  color: white;
}
